body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
span {
  color: orange;
}
.flex-container {
  display: flex;
  margin-bottom: 110px;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  font-weight: 700;
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
}
.top-banner {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}
.second-banner {
  background-image: url(/images/dream-bg.png);
  background-position: right;
  background-repeat: no-repeat;
}
.experience {
  background-image: url(/images/exp-bg.png);
  background-position: left;
  background-repeat: no-repeat;
}
.ex-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-left: 10px solid;
  border-radius: 10px;
  padding-left: 20px;
  box-shadow: 10px 10px 40px gray;
}
